{% extends 'base.html' %}

{% block content %}

    <h1>Hi {{current_user.username}}, this is your home page.</h1>

    <form action='' method='post'>
        {{ addPostForm.hidden_tag() }}
        <p>
            {{ addPostForm.title.label }}<br>
            {{ addPostForm.title(cols=32, rows=4) }}<br>
            {% for error in addPostForm.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ addPostForm.body.label }}<br>
            {{ addPostForm.body(cols=32, rows=4, default='hello type here') }}<br>
            {% for error in addPostForm.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ addPostForm.submit() }}</p>
    </form>

    <hr>
    {% for post in posts %}
        <p><b>Title: {{ post.title }}</b></p>
        <p>{{ post.body }}</p>
        <p>{{ moment(post.timestamp).calendar() }}</p>
        <button><a href="{{ url_for('retrieve', post_id=post.id) }}">Edit Post</a></button>
        <button><a href="{{ url_for('delete', post_id=post.id) }}">Delete Post</a></button>
    <hr>
    {% endfor %}

{% endblock %}
