{% extends 'base.html' %}

{% block content %}

    <h1>Hi {{current_user.username}}, this is your home page.</h1>

    <form action='' method='post'>
        {{ addPostForm.hidden_tag() }}
        <p>
            {{ addPostForm.title.label }}<br>
            {{ addPostForm.title(cols=32, rows=4) }}<br>
            {% for error in addPostForm.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ addPostForm.body.label }}<br>
            {{ addPostForm.body(cols=32, rows=4, default='hello type here') }}<br>
            {% for error in addPostForm.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ addPostForm.submit() }}</p>
    </form>

    <hr>
    <div>
        <h3>Your Blog Posts Here</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td><p><b>{{ post.title }}</b></p></td>
                <td><p>{{ post.body }}</p></td>
                <td><p>{{ moment(post.timestamp).calendar() }}</p></td>
                <td>
                    <button><a href="{{ url_for('update', post_id=post.id) }}">Edit Post</a></button>
                    <button><a href="{{ url_for('delete', post_id=post.id) }}">Delete Post</a></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
