{% extends "base.html" %}

{% block content %}

    <h1>Hi {{current_user.username}}, this is your home page.</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(cols=32, rows=4) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <hr>
    {% for post in posts %}
    <p>Title: {{ post.title }}</p>
    <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
    <p>{{ moment(post.timestamp).calendar() }}</p>
    <hr>
    {% endfor %}

{% endblock %}
